<div class="jumbotron jumbotron-fluid"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="start center" 
    fxLayoutGap="10px">

    <div fxFlex fxFlex.gt-sm="20%">
      <img src="/assets/images/Logo-140x127.png" alt="Logo">
    </div>

    <div fxFlex fxFlex.gt-sm="50%">
      <h1>Recipes from Cristina & Juan</h1>
      <p>Where you can consult the best recipes!</p>
    </div>
    <div fxFlex></div>
  </div>

  <app-navbar class="toolbar"></app-navbar>