$menucolor: #343a40;
$tertiaryColor: #ffb10a;

//scss mixins
@mixin padding-margin($up-down, $left-right) {
    margin: 0px auto;
    padding: $up-down $left-right;
}

.jumbotron {
    background-color: $tertiaryColor;
    @include padding-margin(35px, 40px);
}
