<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/Logo-white.png" height=30 width=41 alt="Logo">
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link not-allowed" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
      </li>
      <li>
        <a class="nav-link not-allowed" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
      </li>
      <li>
        <a class="nav-link" routerLink='/catalog' routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Catalog</a>
      </li>
      <li>
        <a class="nav-link" routerLink='/sharerecipe' routerLinkActive="active"><span class="fa fa-upload fa-lg"></span> Share recipe</a>
      </li>
    </ul>
  </div>

</nav>