<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
      <div>
        <h1>Catalog</h1>
      </div>
    </div>

  <div fxFlex *ngIf="recipes">
    <mat-grid-list cols="2" #grid rowHeight="300px" gutterSize="5px">
      <mat-grid-tile *ngFor="let recipe of recipes" colspan="1" rowspan="1" [routerLink]="['/recipedetail', recipe.id]">
        <img matListAvatar src={{recipe.image}} alt={{recipe.name}}>
        <mat-grid-tile-footer class="text">
          <h2 matLine> {{recipe.name}} </h2>
          <p matLine> {{recipe.description}} </p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div [hidden]="recipes">
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only"></span>
    </div>
    <h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex></div>

</div>