.container {
    margin-top: 40px;
    margin-bottom: 40px;
}

ul {
    margin: 20px;
}

.step {
    margin: 10px;
    h4 {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 5px;
    }
}