@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
// some basic resets 

$tertiaryColor: #ffb10a;

body { 
  padding: 0; 
  margin: 0; 
}

.spinner-grow {
  width: 4rem; 
  height: 4rem;
}

a:hover {
  text-decoration: none;
}

.highlight {
  border: 1px solid gray;
  z-index: 1;
  transform: scale(1.01);
}